.container {
    max-width: 768px;
    margin: auto;
    overflow: auto;
    padding: 0 10px;
    color: black;
  }

  .container p {
    margin: 15px 0;
    line-height: 1.8;
  }
  
  .container img {
    width: 100%;
    border-radius: 10px;
    margin: 0.5rem 0;
    border : 5px solid blue;
  }
  
  
  /* used for code in post */
  .container pre {
    display: inline-block;
    overflow-x: auto;
    padding: 0.5rem;
    background-color: black;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    max-width: 100%;
    border: 5px solid lightblue;
  }